# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# NuGet packages
*.nupkg
# NuGet restore
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Others
*.log
*.vs/
TestResults/
*.dbmdl
*.pdb

# Secrets
appsettings.*.json
!appsettings.json
!appsettings.Test.json