name: PR Comment Merge
# checkov:skip=CKV2_GHA_1: This workflow needs write permissions for automation

on:
  issue_comment:
    types: [created]

jobs:
  merge_if_all_green:
    name: Verify Statuses and Merge

    if: |
      github.event.issue.pull_request && 
      contains(github.event.comment.body, ':mergeBranch')

    runs-on: ubuntu-latest

    permissions:
      pull-requests: write
      contents: read

    steps:
      - name: Check Commenter Permission
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const commenter = context.payload.comment.user.login;
            const repo = context.repo.repo;
            const owner = context.repo.owner;

            const { data: permission } = await github.rest.repos.getCollaboratorPermissionLevel({
              owner,
              repo,
              username: commenter,
            });

            if (permission.permission === 'read' || permission.permission === 'none') {
              core.setFailed(`User ${commenter} does not have merge permissions (requires 'write' or higher).`);
            }

      - name: Wait for Required Status Checks
        id: checks
        uses: "fuxingloh/wait-for-status@v1.0.0"
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          sha: ${{ github.event.issue.pull_request.head.sha }}
          checkName: |
            build-and-test
            super-lint

      - name: Auto-Merge Pull Request
        if: ${{ steps.checks.outputs.result == 'success' }}
        uses: pascalgn/automerge-action@v0.15.6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PULL_REQUEST: ${{ github.event.issue.number }}
          MERGE_METHOD: merge
          MERGE_REQUIRED_APPROVALS: false
          MERGE_STRICT_STATUS_CHECK: false
